.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: xx-large;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
}

.ovo, .ovo-close, .ovo-open {
  width: 25vw;
  height: 25vw;
}

.ovo {
  overflow: hidden;
}

button {
  padding: 16px;
  min-width: 100px;
}